[2016-02-17 13:46] edmorley opened #1 "Add a user agent to requests made to Treeherder"
In bug 1230222 we're encouraging consumers of Treeherder's API to set user agent:
https://bugzilla.mozilla.org/show_bug.cgi?id=1230222

It would be great if the requests made in https://github.com/klahnakoski/TestLog-ETL/blob/dev/testlog_etl/imports/treeherder.py added a user agent similar to:
`User-Agent: testlog-etl`

In other projects I've opened a PR myself, however it's not 100% clear to me h

[2016-02-17 14:31] klahnakoski commented on #1
The Treeherder code has not been used for a while, and is probably broken now.  But, I like the idea if setting the user agent.  I updated the settings files.

The `constants.set()` is done at startup; when modules and classes are injected with configuration from those settings files.

https://github.com/klahnakoski/TestLog-ETL/commit/4a7efcc5e6a1bfd3d67a2ab0cf015888c5c0d8fd

[2016-02-17 14:31] #1 closed, assigned to nobody

[2016-02-17 14:34] edmorley commented on #1
Thank you :-)

[2016-03-11 14:19] klahnakoski opened #3 "Add revision metadata to CodeCoverage"
Determine the branch and revision of the code being analyzed, and add the Mercurial markup for it.  Here is an example:

https://github.com/klahnakoski/TestLog-ETL/blob/85812ed54bcc336ab6132d61be065ee0611f0b34/testlog_etl/transforms/pulse_block_to_es.py#L194

[2016-03-11 14:27] klahnakoski opened #4 "Add build metatdata to CodeCoverage"
Using what you can glean from the TaskCluster message, add a "run" property describing the machine that performed the code coverage [1].   Also, add a "build" property describing the particular version of the product being covered [2].

[1] https://github.com/klahnakoski/ActiveData/blob/dev/docs/Jobs%20Schema.md#run-columns
[2] https://github.com/klahnakoski/ActiveData/blob/dev/docs/Jobs%20Schema.

[2016-03-12 18:57] chinhodado commented on #3
Done by https://github.com/klahnakoski/TestLog-ETL/commit/b79df0abdb68f9634c10c526aaa1ee8eb20dce86

[2016-03-12 19:49] chinhodado commented on #4
In the TaskCluster task definition, the `suite` is an object with two properties:

[code]

Which one should be used for the `run.suite`? I would guess `name`, but should we retain the `flavor` as well?

For `run.chunk`, TaskCluster provides both the current chunk and the total number of chunks:

[code]

Should the `total` be discarded?

What are the build options for `run.type`?

In particular, th

[2016-03-12 23:24] chinhodado commented on #4
Some initial work done with 8d7ba3a236444176d70f93ce88b6eabb34ec0223 and df1a669d2116f732c49e6b3a2a33301d6de0c3a0

[2016-03-13 02:31] klahnakoski commented on #4
Yes, it would appear the suite.name is good for the run.suite, but we
should not loose the flavour.  Maybe the suite should be an object just
like TaskCluster does.  I do not think we need to keep the
chunks.total:  This will probably be obvious with MAX(run.chunk) .

In general, do your best, and do not throw out information: Redundant
information (like that chunks.total) can be discarded though.

[2016-03-14 02:43] chinhodado commented on #4
For `build.date`, is it the timestamp when the build task is created, or when the build is finished?

If I keep the suite flavor, that would change the [documented schema](https://github.com/klahnakoski/ActiveData/blob/dev/docs/Jobs%20Schema.md#run-columns). I guess that's ok?

In the end, there are a lot of info available in the task definition file that is not in the documented schema, so I'm no

[2016-03-14 11:28] klahnakoski commented on #4
The `build.date` is actually the date the particular code revision was
pushed to a branch; the assumption was once a change was pushed, it
would trigger a build; which is no longer the case.

Yes, you can change the schema!   If you have an actual
time-of-compilation, then make up an attribute for that:
`build.compile_timestamp`.  TaskCluster is a new source of data hat can
teach us more about the

[2016-03-14 16:43] chinhodado commented on #4
I have added some more properties to the build object

[2016-03-16 03:44] klahnakoski opened #5 "Add etl.timestamp to CodeCoverage"
So we can filter/sort by the time the ETL ran while we verify results

[2016-03-16 03:45] klahnakoski commented on #4
Good.  We can iterate on this as we find more properties

[2016-03-16 03:45] #4 closed, assigned to chinhodado

[2016-03-16 03:45] klahnakoski commented on #3
Excellent!

[2016-03-16 03:45] #3 closed, assigned to chinhodado

[2016-03-16 03:49] chinhodado commented on #5
I think it is already there. I used `etl_header_gen.next` [here](https://github.com/klahnakoski/TestLog-ETL/blob/codecoverage/testlog_etl/transforms/jscov_to_es.py#L87). and here is an example of the current etl object:

[code]

[2016-03-16 04:08] klahnakoski commented on #5
yes, you are correct; I was still looking at the old artifacts.

[2016-03-16 04:08] #5 closed, assigned to chinhodado

[2016-04-11 16:46] klahnakoski opened #6 "Use set operators"
Ignoring the logic of the statements, and if that logic is correct, please the Python set operators instead of the named functions that do that same:

This line

[code]

should read

[code]

similarly for

[code]

should read

[code]

[2016-04-11 16:57] klahnakoski opened #7 "Detect when covered data breaks the assumptions"
This line

[code]

uses the data in `obj` to calculate percentage covered, but the code above it uses `method_(un)covered` variables that have been checked against the `all_method_lines_set`.   This makes me nervous:  Please add a check that `method_lines`, `obj.covered` and `obj.uncovered` do not disagree in any way (`obj.covered` and `obj.uncovered` are disjoint, and their union is `method_lines

[2016-04-11 17:07] klahnakoski commented on #7
Reading more, I see I understood this wrong.  Although there is still the lines with no method that should be considered

[2016-04-11 17:10] klahnakoski opened #8 "Add percent covered to method"
It is nice to have on files, so method level is good for completeness

[2016-04-11 17:28] chinhodado commented on #6
Done: bda787fc092d3384ad7483e1bc388c0a23cd3c71

[2016-04-11 17:30] chinhodado commented on #7
Right. I was think of making a special "method" for those lines that have no method attached to them, but I wasn't sure how to name that special "method". Would an empty name (`""`) work?

[2016-04-11 17:34] klahnakoski opened #9 "File-level markup"
Looking at

[code]

The file-level detail can be replicated over all coverage records, much like `run` and `build` properties are.  For example, the method level data would look like

[code]

It is important that the method-level coverage aggregates are the same as the file-level aggregates.  An extra method-level record (call it the _null_ record, with method name is set to `null`) that considers

[2016-04-11 17:43] klahnakoski opened #10 "Add line-level detail, but only the covered lines"
As per our conversation, the line-level records should be added, since we will need them to find unique covers.  Only add the covered lines.

Be sure to mark the canonical method-level record with a `is_method` flag so we can continue to query at the method level.  Some methods will have no covered lines, so a _null_ record (line number is missing) must be made in its place.   Or maybe, every meth

[2016-04-11 17:43] chinhodado commented on #8
Done: 80253ef93d4c5de15b08b55e4445af303fa12a32

[2016-04-11 17:45] klahnakoski commented on #7
leave the method name missing entirely

then we can search with `{"missing": "source.method.name"}`

[2016-04-11 18:07] klahnakoski commented on #10
Thinking about this more, we can query "nested" documents, which the `covered` and `uncovered` arrays can be made into:  We must name the values in the array:

[code]

would be changed to

[code]

The coverage schema would be changed, I will look that up...

[2016-04-11 18:11] klahnakoski opened #11 "Code coverage schema is wrong"
BTW, the code coverage schema [1] appears to be a copy is a mess.  Did I do that?

[1] https://github.com/klahnakoski/TestLog-ETL/blob/codecoverage_new_format/resources/schema/code_coverage.json

[2016-04-11 18:14] klahnakoski commented on #10
When we know the property path name of the `covered` lines we can add it to the schema:

[code]

When the transform is ready, I can add this.  (ES may do this automatically).

[2016-04-11 18:14] klahnakoski commented on #11
This is not a big issue, ES is flexible enough to work around this oddity.

[2016-04-11 18:23] chinhodado commented on #11
Oh I never noticed that. That file doesn't have any history apart from when you first added it (https://github.com/klahnakoski/TestLog-ETL/commit/feb3e88326f6c2b6852e34eacde03ada4627f44d)

[2016-04-11 18:27] klahnakoski commented on #11
Ok, I will fix it when you have the next version of the transformation ready.

[2016-04-11 18:36] chinhodado commented on #10
So let's see if I understand this correctly: there are two approaches here:
1. Keep the current method-level records, and add in all the line-level records just like before (only for the lines covered)
2. Change the `covered` and `uncovered` arrays in the current method-level record to the following format:

[code]

For approach 1, will size be an issue again like before?

Also, in each approach,

[2016-04-11 19:02] klahnakoski commented on #10
For option 1:  I hope that making records for just the covered lines will not be too big.

For option 2: We can query the `coverage` array as if it is table.. Something like:

[code]

Consider the database schema required to hold the documents I am proposing:   You would make a `covered_lines` table, with a column (called `line`) and a foreign key back to the method-level record.  A query involvin

[2016-04-11 19:28] chinhodado commented on #10
About option 1, the reason that I moved to method-level records in the first place is because of size concern. Wouldn't adding the (covered) line records kind of defeating the purpose of that? In that case, would it be better to just stick with line-level records for everything (both covered and uncovered), and forget about the method-level records?

On a side note, for the use case of finding uni

[2016-04-11 19:38] klahnakoski commented on #10
yes, maybe.  My only concern is the volume of data required to do that on the client.   We will not go with line-level records.  I will close this.

[2016-04-11 19:38] #10 closed, assigned to chinhodado

[2016-04-12 19:28] chinhodado commented on #9
Uhm repeating the file info in each method...and then add the file's `covered` and `uncovered` array every time...would that be a bit excessive?

I know ES will store that in an optimal way, but I'm just feeling a bit uneasy thinking about the amount of data this will generate... Would that affect ES's insertion time?

[2016-04-12 20:30] chinhodado commented on #9
I have implemented this: 0696b62ab020c3d2dfc24b5739c0dc52e2121623 and cbb3ee7521722cf397e253b888c697e3a504033a

[2016-04-12 21:26] klahnakoski commented on #9
The data volume and insertion time should not pose a problem.  How many method-level records are we talking about?  The cluster is currently accepting about 60million unittest records a day.

[2016-04-12 22:14] chinhodado commented on #9
Ouch. This is insignificant then :)

[2016-04-13 00:59] klahnakoski commented on #8
Since you are qualifying "percentage_covered" with "method" change  `method_percentage_covered` to `method.percentage_covered`

[2016-04-13 01:01] klahnakoski commented on #8
which it looks like you did already

[2016-04-13 01:01] #8 closed, assigned to chinhodado

[2016-04-13 01:01] #6 closed, assigned to chinhodado

[2016-04-13 01:05] klahnakoski commented on #9
Looks good!   I will add issues, if any, after a run through my debugger.

[2016-04-13 01:05] #9 closed, assigned to chinhodado

[2016-04-13 01:06] klahnakoski commented on #7
This is as good as done.

[2016-04-13 01:06] #7 closed, assigned to chinhodado

[2016-04-13 14:05] klahnakoski opened #12 "Add try/except blocks for safety"
Add some try/except blocks, possibly around the method-level loop, to catch any number of logic and data errors.  The objective is to process as much of the data as possible, and raise `Log.warning()` when things do not go as expected.

Due to the amount if indenting, you may consider putting the body of into a separate method

[code]

[2016-04-14 00:29] chinhodado commented on #12
Should I try/except at the method level? If I do that, and if there's an exception while processing the method, then the orphaned lines calculation will/can be wrong. In fact I'm not sure how to handle the orphaned lines calculation in the event a method failed to be processed.

Also I'm using `etl_header_gen.next` to generate the `record_key`. If there's an exception, the record_key won't be used

[2016-04-14 01:21] klahnakoski commented on #12
Hmm, yes.   I would not worry too much about the orphaned lines being wrong; they will not be wrong by much and it will have no impact a the file-level.  It is the best we can do with bad data.

You can generate the `etl_header.next` as a near last step.

[2016-04-19 05:48] chinhodado commented on #12
I added it: 4b6a5f07ddd0346ba51e7931362f074f2447cdec
Thank you for doing the method splitting.

[2016-07-22 14:24] #12 closed, assigned to chinhodado

[2016-07-22 14:24] #11 closed, assigned to klahnakoski

[2017-03-07 00:14] marco-c opened #14 "Run grcov on multiple directories"
Instead of unzip artifact, run grcov, unzip next artifact, run grcov, ..., we could unzip all of them in different directories and run grcov once with multiple directories.

[2017-03-07 00:16] marco-c opened #15 "Change test.name and test.url in gcov_to_es.py"
We don't have info about which C++ tests generated which execution counts. We should only use the suite name.

https://github.com/klahnakoski/ActiveData-ETL/blob/eb9be06de2a1accd8300fd06192404f614838178/activedata_etl/transforms/gcov_to_es.py#L258
https://github.com/klahnakoski/ActiveData-ETL/blob/eb9be06de2a1accd8300fd06192404f614838178/activedata_etl/transforms/gcov_to_es.py#L290

[2017-03-07 00:24] marco-c opened #16 "Make `covered` an array of line numbers"
This way of storing the covered lines seems unefficient:
https://github.com/klahnakoski/ActiveData-ETL/blob/eb9be06de2a1accd8300fd06192404f614838178/activedata_etl/transforms/gcov_to_es.py#L234

Is it needed for some reason? @klahnakoski

[2017-03-07 00:30] marco-c opened #17 "Don't store lines covered per function"
The information about lines covered per function might be redundant when we already have lines covered per file.
For high level statistics, I can only see people querying for how many lines and how many functions are covered in a file.
For delving deep, I can only see people querying for which lines and which functions were covered in a file.

Most other tools and services (e.g. `genhtml` or `cove

[2017-03-07 12:54] klahnakoski commented on #14
maybe, but the workers only have 8gig of drivespace, and there is still python post processing (and it is probably the slowest section of the code now)

[2017-03-07 12:57] marco-c commented on #14
Yes, this is a low priority optimization.

[2017-03-07 13:00] klahnakoski commented on #15
Yes, either add {"test":{"suite": suitename}}; you should find it in the "task_cluster_record", either under "run.suite.name", or "treeherder"

[2017-03-07 13:11] klahnakoski commented on #16
Unfortunately, it is needed because of query limitations in either ActiveData or Elasticsearch; we must have objects.  But, it is not inefficient: The file compression is good at removing this redundancy, and ES stores data in reverse-lookup tables; resulting in indexes nearly the same size.

I am sure we can find a solution to get rid of this ugliness, but it is a bit more involved.

[2017-03-07 13:23] klahnakoski commented on #17
Lines covered by method give us the ability to know which test (or suite) is best covers a particular method.

There are details like which suite covers what lines in a function, and if that set of lines is identical, or exclusive.

The high level strategy is to have a single fact table of line-level granularity which simplifies queries. The data is denormalized to make those queries fast, and sca

[2017-03-07 16:40] #15 closed, assigned to marco-c

[2017-03-07 16:40] marco-c commented on #15
f936b5aaab45619212d78422f5875a0656d3675e

[2017-03-07 18:18] marco-c commented on #17
It seems a little overkill to me. I can see people wanting to know which tests cover a particular function, not which lines of that function.
Is this something that developers were interested in?

[2017-03-07 18:20] marco-c commented on #16
`uncovered` is currently an array of numbers, should we make it an array of `{'line': C}` like `covered`?

[2017-03-07 21:01] klahnakoski commented on #16
No.  We would like the `covered` array to be simple values like `uncovered`; We are prevented from doing this because we run queries on the `covered` lines that are not done on the uncovered lines.

It is an unfortunate incongruity.

[2017-03-07 23:35] marco-c commented on #17
Note that, because of how we are storing the data, the size of the JSON file for our format is really large.
For a subset of tests, it is ~2 GB (~300 MB gzip-compressed) with this format, ~30 MB (~2 MB gzip-compressed) with the Coveralls format, ~90 MB (~15 MB gzip-compressed) with the LCOV format.
If we multiply this by the number of test suites we have, we are going to generate several GBs of da

[2017-03-08 00:04] klahnakoski commented on #17
Yes, you are right, it is a little overkill, and looking at how we used the data, the `file.covered.line` is only used in one place.

Code coverage is a little different in Javascript: It can have coverage outside any method. Therefore, there is coverage document for every method PLUS coverage document for `source.method==null` case.  In this document we must have the `file.covered.line` because w

[2017-03-08 14:26] klahnakoski commented on #16
I will keep this open.  It should be fixed, but is low priority.

[2017-03-08 14:26] klahnakoski commented on #17
Reopening issue so it is easier to find! :)

[2017-03-08 14:39] klahnakoski commented on #17
The size of the data is a result of the Taskcuster metadata, yes?

The code should be modified to stream, or process small chucks) to a compressed local file, and send that to S3.  The pyLibrary.aws.s3.Bucket.write_lines() function does that.

[2017-03-08 14:59] klahnakoski commented on #17
There is another class called `S3Bucket`, which is currently used to "multiplex" a list of records into multiple files in a single bucket.  It is best explained with this code:

[code]

Every document has a dot-separated list of integers called the audit key. These documents are grouped by their `parent_key` (which is everything except that right-most number), and the members of the group are put

[2017-03-09 14:48] klahnakoski opened #18 "Add task metadata to each gcov record"
Here is an example task record. Many of these properties can be removed.  There is a `minimize_task()` [1] that does the majority of this for you, and can be extended to scrub out other items.

[1] https://github.com/klahnakoski/ActiveData-ETL/blob/ffc477b5fc82b881049113b9d2b5b22eb7361366/activedata_etl/imports/task.py#L13

    "task":{
        "signing":{"cert":[null]},
        "features":["taskc

[2017-03-09 14:51] klahnakoski commented on #18
jscov does this currently:

https://github.com/klahnakoski/ActiveData-ETL/blob/dev/activedata_etl/transforms/jscov_to_es.py#L59

[2017-03-09 15:35] klahnakoski opened #19 "Demangle function names"
The gcov coverage files have mangled `source.method.name` this is a problem for two reasons:

1. Inhumane - Humans have a tough time reading them.  Manged names include the type parameters in hard-to-decode form, and also include the C++ template types, leading to plain confusion.
2. Combinatorial explosion - C++ creates a "copy" of each function for each realized template instance.  This results

[2017-03-09 16:48] marco-c commented on #19
We will lose some information, but I think it's a good compromise.
I will add an option to grcov to unmangle function names.

[2017-03-09 16:49] marco-c commented on #19
https://github.com/marco-c/grcov/issues/3

[2017-03-09 17:53] #17 closed, assigned to marco-c

[2017-03-09 18:11] klahnakoski opened #20 "Are `unified` builds obfuscating `source.file.name`s"
"unified" builds are intended to go faster by concatenating source files before compilation.  Does this impact the gcno files for coverage builds? Does the concatenation result in obfuscated, or misleading, filenames? If so, unified builds may also be a source of needless redundancy, as each method in a file has copy of the file metadata.

[2017-03-09 21:46] klahnakoski opened #21 "Handle stderr from grcov"
It would be nice to know what went wrong, and why, Report stderr, or error code, and annotate it with Log.error() so we are notified when it does not work.

[2017-03-09 22:12] klahnakoski opened #22 "gcov_to_es not working"
I am not sure what is happening here.  "grcov" on the command line does not work after using the installation script; maybe some path must be added.  If it is grcov that gets executed, then more detail about the failure would be nice.

    ubuntu@ip-172-31-0-167:~/ActiveData-ETL$ git checkout codecoverage-kyle
    ubuntu@ip-172-31-0-167:~/ActiveData-ETL$ export PYTHONPATH=.
    ubuntu@ip-172-31-0-

[2017-03-09 23:17] marco-c commented on #22
Forgot to mention it, but I've released a new version. Are you using that (0.1.3)? Perhaps we should change the script to always download the latest version?

[2017-03-09 23:19] marco-c commented on #22
Actually, I believe here the problem is that it doesn't find `grcov`. You should add it to the path before launching `python activedata_etl/etl.py`.

[2017-03-09 23:40] #18 closed, assigned to marco-c

[2017-03-10 00:43] marco-c commented on #22
I've changed the script to always download the latest version: https://github.com/marco-c/grcov/commit/cf665cb29b146947b24d62fe691c547e6c8a97f2.

You still need to add it to the PATH. If you want the script to install it to a directory that is already in the path (e.g. /usr/local/bin), please file an issue in the grcov repo.

[2017-03-10 00:43] #22 closed, assigned to nobody

[2017-03-10 00:56] marco-c commented on #20
I've verified that this is not a problem. Here's an example with a unified file that contains multiple cpp sources:
[testUnified.txt](https://github.com/klahnakoski/ActiveData-ETL/files/832693/testUnified.txt)

[2017-03-10 00:56] #20 closed, assigned to marco-c

[2017-03-10 21:28] klahnakoski opened #23 "Appears to work?"
[code]

[2017-03-10 21:29] klahnakoski commented on #23
this works off the codecoverage-kyle branch

[2017-03-10 21:40] klahnakoski opened #24 "Bad audit keys"
It is assumed that each code coverage job (with audit key format of `t.a:b.c` eg `tc.573778:57376963.96`) will generate multiple gcda artifacts. Data that is derived from that key must have contiguous children starting at zero:

    tc.573778:57376963.96.0
    tc.573778:57376963.96.1
    tc.573778:57376963.96.2
    tc.573778:57376963.96.3

In the case of C++ coverage I guess there is only one per

[2017-03-13 10:30] marco-c commented on #23
Great!

[2017-03-13 11:18] marco-c opened #25 "Store functions that are not executed?"
Should we store functions that are not executed? The pre-existing code was not, so I left the same behavior for now, but I think we should store them.

[2017-03-13 12:09] klahnakoski commented on #25
Knowing the functions covered is not I high priority, but it was mentioned in the customer interview, and it is part of [our MVP template ](https://people-mozilla.org/~sledru/reports/coverage-2015/)  The uncovered functions could prove more useful than we imagined.

Do not include the `covered` and `uncovered` line arrays:  The orphan file will have those uncovered lines.

[2017-03-15 00:42] marco-c opened #26 "Windows branch in run_lcov_on_directory should return proc.stdout"
Like the Linux branch, it should return proc.stdout instead of calling parse_lcov_coverage.
The caller of run_lcov_on_directory will iterate proc.stdout.

[2017-03-15 00:44] marco-c opened #27 "json2value check might slow down things"
https://github.com/klahnakoski/ActiveData-ETL/blob/dev/activedata_etl/transforms/gcov_to_es.py#L153

Can we only do this in debug mode? I implemented the PLACEHOLDER (hacky) solution because Python was quite slow to parse the JSON and then serialize the result.

[2017-03-15 10:40] klahnakoski commented on #26
grcov requires lcov, and lcov does not work on windows. Keep this issue open until we have a way to test windows and write code for it.

[2017-03-15 10:41] marco-c commented on #26
`grcov` doesn't require lcov, it only requires gcc.

[2017-03-15 10:53] klahnakoski commented on #26
oh yes, I misspoke

    let status = Command::new("gcov")

[2017-03-15 10:58] marco-c commented on #26
Yep, that should be part of gcc. If you have gcc installed, gcov should be available.

[2017-03-15 10:58] klahnakoski commented on #27
I like that idea.  I will do that.

[2017-03-15 15:08] klahnakoski commented on #26
"If you have gcc installed" is a difficult condition to meet on window.

[2017-03-15 15:24] marco-c commented on #26
Have you tried with MinGW?

[2017-03-15 15:28] klahnakoski commented on #26
I tried msys64, and I assume MinGW to be the same: The complexity is at the point where a windows python process tries to call a program in a linux vm.

[2017-03-17 12:21] marco-c commented on #25
This will be fixed when we update to the latest version of grcov (0.1.5, will be released soon).

[2017-03-17 12:21] #25 closed, assigned to marco-c

[2017-03-17 14:04] klahnakoski opened #28 "JS and C++ coverage transformation conflict"
Both the jscov and gcov transformations work on the same block of tasks generating separate artifacts for the block, and possibly overwriting the work of the other.  The ETL pipeline has started to complain about this inconsistency,

[2017-05-29 10:37] marco-c opened #29 "Run grcov directly with the ZIP files, instead of extracting them first"
If you use the `-z` parameter to launch grcov, it will use the ZIP files directly and we will not need to extract them first.
This makes the process faster, as grcov can start parsing the gcda/gcno files while it is extracting them from the ZIP file.

[2017-05-29 10:39] marco-c opened #30 "Specify '-p' (prefix directory) option when running grcov"
The '-p' option allows you to specify a prefix that should be removed from the paths in the gcno/gcda files.
In our case, it should be `-p /home/worker/workspace/build/src/`.

This way, a path like `/home/worker/workspace/build/src/gfx/gl/EGLUtils.cpp` will become `gfx/gl/EGLUtils.cpp`.

[2017-06-21 12:41] marco-c opened #31 "Don't extract gcno and gcda archives, pass them directly to grcov"
grcov will extract the files itself and will start processing them while extracting.

[2017-06-21 12:47] marco-c commented on #31
I had already filed this as #29.

[2017-06-21 12:47] #31 closed, assigned to nobody

[2017-06-21 12:47] marco-c commented on #29
The `-z` option is no longer needed, you can just pass the paths to the zip files.

[2017-06-21 12:52] marco-c commented on #27
I think you fixed this ;)

[2017-06-21 12:52] #27 closed, assigned to nobody

[2017-06-21 19:48] klahnakoski commented on #29
done

[2017-06-21 19:48] #29 closed, assigned to nobody

[2017-11-20 13:41] klahnakoski opened #33 "Use firefox-files to map source.file.name to repo filenames"
The jsdcov filenames are wrong.  They are dynamically loaded and given a variety of path prefixes

    obj-firefox/dist/include/mozilla/dom/CommentBinding.h
    file:///builds/worker/workspace/build/tests/jsreftest/tests/shell.js
    chrome://global/content/browser-content.js

Use the `firefox-files` table in ActiveData to map these filenames to the matching version found in the repo.  I imagine t

[2017-11-20 13:59] klahnakoski commented on #33
ActiveData has a download limit of 50K records.  So getting the full file list may be more difficult than it is worth.  Instead, find the original artifact and download it.

Here is the `firefox-files` table: http://activedata.allizom.org/tools/query.html#query_id=lGdtmxm+

The `etl` property has details about how the record traveled through the ETL pipeline, including sources used to populate it:

[2017-11-20 17:35] marco-c commented on #33
There is the LCOV rewriter that was written for this purpose and applies the most precise mapping we can have.

[2017-11-20 17:59] klahnakoski commented on #33
The  LCOV rewriter requires a local copy of hg yes? If this is to be done by ActiveData's ETL pipeline, it would be preferable to have less dependencies.

I believe we discussed this rewriting is possible as yet-another-post-collection-step on the TC machines.  Then the artifacts would have the correct filenames before they enter the pipeline. If it is done on TC, it should not loose the test-leve

[2017-11-20 18:19] klahnakoski commented on #33
Sorry, my last link was not right: Here is the job that generates per-test artifacts:  https://treeherder.mozilla.org/#/jobs?repo=try&revision=182b519971d39b8c66c6faf61f62b87973d81608&selectedJob=145407889

[2017-11-23 20:23] marco-c commented on #33
Yes, the mapping should work no matter if we run all tests or if we run only a subset of them.

We'd still translate in the ETL pipeline, but we'd translate using the mapping generated by the coverage task (uploaded as an artifact).

[2018-02-13 19:49] klahnakoski opened #35 "Some codecoverage runs are missing run.key ?"
Why is this happening, and can it be fixed?

[2018-02-13 19:51] klahnakoski commented on #35
eg 165474ef313b106f0364cf1941a0030c41855876

[2018-05-04 19:22] marco-c commented on #30
This is no longer needed, as it's done on the test machines.

[2018-05-04 19:22] #30 closed, assigned to nobody

[2018-05-07 12:42] klahnakoski opened #37 "Name fixing done AFTER tuid request :("
The jsvm ETL (and probably others) is doing a TUID lookup **before** it does filename lookup-and-fix.  https://github.com/klahnakoski/ActiveData-ETL/blob/dev/activedata_etl/transforms/jsvm_to_es.py#L66

This is also the cause of too many requests to HG resulting in 404.

[2018-05-07 12:44] klahnakoski commented on #37
@gmierz, I will fix this.

[2018-05-08 11:45] marco-c opened #38 "Use grcov to parse lcov files"
It should be much faster than parsing with Python.

[2018-05-09 02:00] klahnakoski commented on #37
done with https://github.com/klahnakoski/ActiveData-ETL/commit/ef7f59510e3cc483d67200d65e901e5f9d705594#diff-34f43df6958144b7c5d989ad3e63f023R31

[2018-05-09 02:00] #37 closed, assigned to nobody

[2018-05-10 20:29] klahnakoski opened #39 "Per test coverage off-by-one?"
Looking at recently imported per-test coverage, it seems some non-code lines are covered:

https://firefox-code-coverage.herokuapp.com/#/file?revision=d4d7e793ebe8&path=/dom/base/nsGlobalWindowInner.cpp

If you select a non code line, with a low number, like line 408

![image](https://user-images.githubusercontent.com/2334429/39892577-17761956-546f-11e8-8112-4a5e90ef41e9.png)

you wil lget a list

[2018-05-10 20:31] klahnakoski commented on #39
@marco can you confirm where this off-by-one error is coming from (assuming that is an off-by-one error)

This could be caused by reporting coverage on the wrong revision, assuming a line was added/removed.

[2018-05-10 20:36] marco-c commented on #39
It might just be an error in the transform code. The transform code is considering that 0 is the first line, maybe in the other cases we are considering 1 to be the first line?

[2018-05-10 20:37] klahnakoski commented on #39
Oh! yes, I do remember that!  Thanks.  I will change it now.

[2018-05-10 20:54] klahnakoski commented on #39
done https://github.com/klahnakoski/ActiveData-ETL/commit/7d7a7b9a52a43cff91dfbe4905602eba0f696a17

[2018-05-10 20:54] #39 closed, assigned to nobody

[2018-05-18 12:35] klahnakoski commented on #16
this has been fixed

[2018-05-18 12:35] #16 closed, assigned to nobody

[2018-05-18 12:37] klahnakoski opened #40 "Unify test suite names"
The test coverage ETL and the unittest ETL generate two different types of suite names.  Ensure the two pipelines generate standard suites names that can be compared.

[2018-05-18 12:45] marco-c commented on #40
In the "test-coverage" case, the "test.suite" is coming from https://dxr.mozilla.org/mozilla-central/source/testing/mozharness/scripts/desktop_unittest.py#792. We could add more data from there if needed (e.g. `flavor`).

[2018-05-18 13:21] marco-c commented on #16
Great! So I'll have to update grcov too to remove the "line".

[2018-05-22 17:59] klahnakoski opened #41 "Monitor ETL Pipelines"
The ETL pipeline is fed by Amzon's SQS: Blocks of ETL work are put on the queue for the workers to grab-and-process.  ETL machines are spot instances, so they are often killed partway through their work. When this happens the work item pulled off the queue is not returned back to the queue, but neither is the work item confirmed; it is in pending state, waiting 6hours before SQS puts it back on th

[2018-07-03 18:17] klahnakoski opened #44 "ETL cache of hg.mozilla.org is broken"
The ES query delivers too much data, Python runs out of memory, but recovers, and then proceeds to ask hg for the same.  This is repeated by all ETL machines, and too many hg requests.

    ERROR: Problem with search (path=/repo20180418_092942/revision/_search):
	{
	    "query": {"bool": {"must": [
	                {"term": {"changeset.id12": "da28b92efe6f"}},
	                {"term": {"branch.na

[2018-07-03 19:02] klahnakoski commented on #44
No, it is not a too-much-data problem; I got that mixed up with some other problem.

The first occurrence is here:

     ip-172-31-2-165 (pid 10486) - 2018-06-28 22:25:28 - hg daemon - "hg_mozilla_org.py:280" (_get_from_elasticsearch) - WARNING: Bad ES call, fall back to HG

[2018-07-03 19:07] klahnakoski commented on #44
the node used for HG cache started acting different at  June 29 19:42 UTC and June 29 15:51 UTC

[2018-07-03 19:12] klahnakoski commented on #44
2018-06-29 15:32:26 failures became more intense (as more ETL machines came online?)

[2018-07-03 19:33] klahnakoski commented on #44
There is more than one hg problem. The one above is a utf8 conversion problem.  There is a "Connection refused'" type starting at 2018-06-29 15:32:17, which better aligns with the server acting different, and explains the volume of requests redirected to HG.

[code]

[2018-07-03 23:40] klahnakoski commented on #44
Summary of problem, and solutions

The ETL pipeline consists of many machines that use hg.mozilla.org to lookup repository changesets. Each machine checks a local Elasticsearch (ES) cache for repository entries before going to HG. When an HG call is made, the result is put into the cache for another machine to find later.

In this particular situation, the ES cluster was down; each ETL machine att

[2018-07-04 00:21] #44 closed, assigned to nobody

[2018-07-04 00:34] klahnakoski opened #45 "Rate-limit calls to third party services"
The machines responsible for ETL run independently, and can number in the hundreds.  It has been difficult, or impossible, to apply a global request rate limit to other services it uses.

I believe the only solution is relay all requests through a central server that can apply rate limits.

[2018-07-09 13:11] klahnakoski opened #46 "Add `source.file.paths` to coverage ETL"
We can add all parent directories of a file to a multi-value

    source.file.path = source.file.name.split("/")

...or something like that

[2018-07-10 16:31] klahnakoski opened #47 "Add "repo.push.changeset.id12""
Mozilla's mercurial repo tracks which `push` every changeset arrives in a branch at. This push is commonly referred to by hash of the most-recent changeset in that push.  The "repo" table (and all records joined with it), should have an additional column, called `repo.push.changeset.id12", that holds this hash

[2018-08-03 14:37] klahnakoski opened #48 "Add artifact sizes to task.artifacts"
The code should land right around here: https://github.com/klahnakoski/ActiveData-ETL/blob/dev/activedata_etl/transforms/pulse_block_to_task_cluster.py#L104

[2018-08-03 14:49] klahnakoski commented on #48
This is in the HEAD calls,after you follow the 303s

[code]
X-Amz-Cf-Id: fQ9SpSf8ybtjaT8R0A2OIBlqYG2zG3YxxBD0wYF7xV0RKuOyP5qO9w==

[2018-09-20 12:04] klahnakoski opened #49 "_id not set properly"
coverage records are not assigned etl ids

http://54.149.21.8/tools/query.html#query_id=Dw1hMJ4O

[2018-10-06 18:21] gmierz opened #50 "Remove all code related to JSDCOV ingestion/processing."
As the following bug disabled JSDCOV from running on taskcluster, we will no longer need any code added here to process it's artifacts into activedata.

See [bug 1496791](https://bugzilla.mozilla.org/show_bug.cgi?id=1496791).

[2018-11-27 22:07] klahnakoski opened #51 "add mozinfo properties to all tasks"
mozinfo.json is a nice source of parsed properties, attaching it to the task that generates it (if it exists) can enhance other tables of data.

Example link (probably dead when you read this):
https://taskcluster-artifacts.net/C_aQRBcEQ_OZRaLfHL8OXw/0/public/build/target.mozinfo.json

[2018-11-27 22:09] klahnakoski commented on #51
example

[code]

[2018-11-27 22:10] ahal commented on #51
You can see a fresh one by clicking a build task in treeherder, then looking for "target.mozinfo.json" under the artifacts section.

Test tasks don't currently upload a mozinfo.json, but they should as they often take the build mozinfo.json and add a bunch of extra keys to them.

[2018-12-11 22:05] gmierz opened #52 "Enable 'fixed_by_commit' queries through active data."
Currently, we are required to manually query the Treeherder redash sql DB to obtain a list of (fixed_by_commit, suite, repo, test_fixed) entries with the following query: https://github.com/gmierz/coco-tools/blob/master/pertestcoverage/analysistypes/configs/querysample.txt

We'd like to run this query with active-data to be able to simplify the entire analysis process and make it more flexible. To

[2018-12-13 13:40] klahnakoski commented on #52
For our reading pleasure:

[code]

[2018-12-13 13:41] klahnakoski commented on #52
this should be doable already. looking....

[2018-12-13 14:18] klahnakoski commented on #52
This is incomplete, and for my notes only.  I am still looking for `job_log.failure_line.test`

[code]

[2018-12-13 15:13] klahnakoski commented on #52
This is a little better.  The current problems are

1. Understanding the redundancy (removed by SELECT DISTINCT before we just move everything into the `groupby` clause
2. The `failure.notes` are separate from the `job_log.failure_line`, which is a cross-referencing query.  But, it is on the same `treeherder` record, so it should be doable.

[code]

[2018-12-14 02:12] gmierz commented on #52
That is a great start, thanks @klahnakoski! I tested it without the distinct and it might not be doing anything because of the `group by SUBSTRING(fixed_by_revision, 1, 12);`. For instance, it cuts down the number of rows in the redash query above from 4615 to 267.

I attempted to get `failure.notes` with this query but I could only obtain the `failure.notes` entries from within `treeherder.job_lo

[2018-12-14 20:10] gmierz commented on #52
I see that when `job_log` is created, there are some fields that are set to `None` here: https://github.com/klahnakoski/ActiveData-ETL/blob/48c2555e4858dde984ed49dcc9504818a083ce83/activedata_etl/transforms/treeherder_to_normalized.py#L231-L239

Is it possible that one of those fields contain the test names and that it is being overwritten? `job_guid` is very close to a field that is used in the t

[2018-12-15 00:24] gmierz commented on #52
It's nearly there with a query like this, the `groupby` statement seems to do the trick. But I am skeptical of the results since I am not too sure about what exactly it is grouping here (is it the full rows or something else?): https://activedata.allizom.org/tools/query.html#query_id=CPrlUCnp

We can get more entries through this kind of query though which is better than the redash SQL query.

[2018-12-16 17:03] klahnakoski commented on #52
@gmierz sorry for my slow response. I am in Ottawa, and I do not have a good connection for most of the day.  I am on PTO the next couple of weeks, so I will continue to react slow.  I will look into the improving the query, and I will also look at what's happening with missing data.

[2018-12-16 19:19] gmierz commented on #52
No problem @klahnakoski, have a good PTO :)

I'm going to be running some tests with the data that I can get with the above query. Even if some entries are missing, we should still be able to start getting scheduling failure/success rates now.

[2018-12-22 14:04] klahnakoski opened #53 "do not scan "/partner_repack_raw.log""
ip-172-31-2-59 (pid 10415) - 2018-12-22 12:20:44.911944 - ETL Loop 0 - "/home/ubuntu/ActiveData-ETL/activedata_etl/transforms/unittest_logs_to_sink.py:236" - (accumulate_logs) -
WARNING: bad line #159 in key=tc.2005853:200584463.40 url="https://queue.taskcluster.net/v1/task/fwtw8X3IQoqQDaiPrSDJmg/artifacts/public/logs/partner_repack_raw.log":
"* [new tag]         v1.7.1     -> v1.7.1"

[2019-01-23 20:22] klahnakoski opened #54 "action.start_time is missing on macosx64"
Seems to have been a problem for a long time:

[code]

[2019-02-28 00:33] klahnakoski opened #55 "supervisor on es instances lost socket"
I do not know why this happens, but the node is garbage.

    [ec2-user@ip-172-31-1-82 logs]$ sudo supervisorctl
    unix:///tmp/supervisor.sock no such file

[2019-04-16 14:48] klahnakoski opened #56 "ES Ingestion is behind"
The ES ingestion is 4 days behind.

[2019-04-16 14:49] klahnakoski commented on #56
08:46 ingestion into ES is 4 days behind; it feels like the same ingestion problem from many months ago. Since the majority of the data is coverage, I altered ingestion to include only 10% of the coverage records until it catches up.
08:51 <ekyle> here is a chart of the number of S3 files in the ES ingestion backlog (each s3 files has many ?thousands? of records)

![image](https://user-images.gith

[2019-04-17 22:11] klahnakoski commented on #56
update:

![image](https://user-images.githubusercontent.com/2334429/56324182-306ea380-613c-11e9-91f1-8c4bc90b431c.png)

[2019-04-17 22:19] klahnakoski commented on #56
There are two possible solutions:

1. Do not backup the latest coverage index (most recent day) - This puts less pressure on the backup machines, which are indexing everything
2. Invalidate primary backup shards - The primary shards do some extra work.  The backup machines have all the primary shards. There is a command that can be sent to ES to invalidate a primary shard; which will promote a rep

[2019-04-17 23:07] klahnakoski commented on #55
`/tmp` is the problem on new machines, it gets deleted by some scrubbing routine, somewhere.

[2019-04-17 23:07] klahnakoski commented on #55
keep this open until all spot nodes have been replaced

[2019-04-18 16:46] klahnakoski commented on #56
https://github.com/klahnakoski/esShardBalancer/issues/1

[2019-04-19 12:52] klahnakoski commented on #56
ES ingestion nodes parse and prepare new documents, and send them to the primary shards.  The primary shards record the documents and then relay them to replica shards.  This means the primary shard is doing some extra work, and sending more data, than a replica.

There are 40 "spot" nodes, which have replicas, and respond to queries. Plus there are 3 "backup" nodes, in another zone, which have al

[2019-05-01 13:01] davehunt opened #57 "Add reference_browser and fenix repositories"
We now have results based on the reference-browser and fenix repositories:

 * https://treeherder.mozilla.org/#/jobs?repo=reference-browser
 * https://treeherder.mozilla.org/#/jobs?repo=fenix

It would be useful to be able to query this data.

[2019-05-01 18:29] klahnakoski commented on #57
https://activedata.allizom.org/tools/query.html#query_id=XDTVHlVL

[2019-05-02 14:43] klahnakoski commented on #57
https://activedata.allizom.org/tools/query.html#query_id=ZZG6phkT

[2019-05-03 08:08] davehunt commented on #57
An example of a passing Raptor job for Fenix can be found here: https://treeherder.mozilla.org/#/jobs?repo=fenix&revision=449fffe9330101428ffa1fb4234c83b13f2e2faf&selectedJob=244073160

[2019-05-03 08:09] davehunt commented on #57
An example of a passing Raptor job for Reference Browser can be found here: https://treeherder.mozilla.org/#/jobs?repo=reference-browser&revision=df9337bc68b70c34dfce6f09c453f3e934b77689&selectedJob=244407354

[2019-08-12 12:27] #56 closed, assigned to nobody

[2019-08-12 12:33] klahnakoski opened #58 "ETL update script has a bug"
The ETL update script is responsible for pushing new changes to the many ETL machines.  It also

* looks for low-cpu machines to restart them, and
* looks for unresponsive machines to terminate them

    C:\Python27\python.exe C:/Users/kyle/code/Activedata-ETL/activedata_etl/update_etl.py --settings=resources\settings\update_etl.json

[2019-08-12 12:35] klahnakoski commented on #58
The wrong instance was killed when the script could not connect

https://github.com/klahnakoski/ActiveData-ETL/commit/b726557749f93d022ef29f5306db7c9f2edc6105?w=1

[2019-08-12 12:35] #58 closed, assigned to nobody

[2019-09-04 18:48] klahnakoski opened #59 "Handle when no augth methods are working"
Many scripts terminate machines when it can not connect to the EC2 instance.  Before this is done, be sure it is not just because the wrong auth method is used, or no auth method was used, or there is no network path to the machine.

[2019-09-26 14:19] klahnakoski opened #60 "ingest github revision info"
It has been a few months now, and there seems to be a growing number of TC jobs that refer to Github repos.  It would be nice to pull the changeset details from Github, much like we do for hg.mozilla.org.

https://github.com/klahnakoski/mo-hg

[2019-11-21 16:31] ahal opened #61 "Add test `groups` to ActiveData"
The mozlog spec says that `suite_start` actions contain a `tests` key that can optionally be keyed by `group`. These `group`s are typically the manifest and would be very valuable information to have in ActiveData. See:
https://firefox-source-docs.mozilla.org/mozbase/mozlog.html#data-format

It looks like we currently ignore this `tests` key completely:
https://github.com/klahnakoski/ActiveData-ET

[2019-12-03 18:07] marco-c commented on #61
What's missing now that #63 was merged?

[2019-12-03 23:02] marco-c commented on #61
Another question: could we backfill the data for the past few months (9 would be best)? So I can experiment with using this data in the ML model for test selection (otherwise I have to wait a few months to have enough training data).

[2019-12-04 19:49] klahnakoski commented on #61
@marco-c  what's missing is some confirmation you can work with the new data.

@marco-c 9 months is too much!  I do not think the tc artifacts are kept that long. ActiveData only stores 6-7 weeks of data, but the S3 buckets go back 2 years.  Maybe you are suggesting we fill the S3 buckets back as far as we can, and you will use those?

[2019-12-05 16:20] marco-c commented on #61
I've checked using mozci, and it is looking good to me.
The only two problems I saw:
- web-platform-tests are using "default", but IIRC that's a known shortcoming;
- when a task contains a single manifest, e.g. Oc3vnkIFTq-G9pL4jsDc1g, groups was a string instead of a list of strings.

I'm not sure if the latter is a problem in ActiveData or in mozci.

The longer the better, but we can also just wa

[2019-12-10 13:54] ahal opened #64 "Add label to the `task` table"
I don't seem to see the task label anywhere in the fields of the `task` table. This is a bit strange as labels are the canonical way of referring to a task.

It does make an appearance in `task.tags`, but it is difficult to query for things in tags, and having a top-level attribute would be much more convenient.

[2019-12-10 14:57] ahal opened #65 "Some tasks don't appear in the `task` table"
I'm trying to use ActiveData to analyze this push:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=1876bd9a2696c69d2801306f13b238cd92df876e

I'm noticing that there are tasks that show up in the `treeherder` table, but don't show up in the `task` table (roughly 9 of them). Maybe it's possible they just haven't been processed yet and ActiveData will get to them soon, but the other tasks wer

[2019-12-10 17:01] ahal commented on #65
Note, it looks like they aren't in the unittest table either.

[2019-12-10 17:24] klahnakoski commented on #65
@ahal yes, the unittests are downstream from the tasks.  So, it makes sense they are missing

Some notes for self:

ETL block  https://active-data-task-cluster-logger.s3-us-west-2.amazonaws.com/tc.2756421%3A275641263.json.gz

query
[code]

[2019-12-10 17:36] marco-c opened #66 "'result.group' is sometimes missing (mainly reftest and marionette)"
[ekyle] EDIT: see https://github.com/klahnakoski/ActiveData-ETL/issues/66#issuecomment-589832120  below for a query to get specific examples of the problem

With this query:
[code]

There are a few results where we don't have result.group. Some are expected (e.g. WPT), some aren't (e.g. reftest).

[2019-12-11 11:29] klahnakoski commented on #64
@ahal  I assume this belongs to `task.label`

[2019-12-11 14:53] klahnakoski commented on #64
@ahal this will be added, in the meantime: Taskcluster's `task.tag.label` is aliased as  `run.key` in ActiveData

[2019-12-11 15:05] ahal commented on #64
Ah, maybe that would have been good enough.. but `task.label` will definitely be less confusing for people :). Thanks!

[2019-12-11 15:23] klahnakoski commented on #64
@ahal yes.  `task.label` is better:  the `run.key` was from buildbot.

[2019-12-11 18:05] klahnakoski commented on #66
@marco-c

The`default` got into the `run.suite.groups`.  This will be fixed for future.

There is a problem with reftests - maybe due to the test-name rewriting the ETL does.  I will look into this more.

[code]

![image](https://user-images.githubusercontent.com/2334429/70647418-e41a2b80-1c16-11ea-862d-ae7ad9727fd8.png)

[2019-12-11 18:29] klahnakoski commented on #66
@marco-c   The Marionette-based Tests have a peculiar structure that do not follow the known rules for structured logs: The suite header appears to have absolute paths, and the test names appear to have extra information.  Maybe this can be fixed by the ETL pipeline, but it may be easier to fix in harness.

Here is one test:

[code]

which you can see in the raw log: https://firefoxci.taskcluster-

[2019-12-11 18:34] klahnakoski commented on #66
A query to highlight some examples:

[code]

[2019-12-11 18:39] klahnakoski commented on #65
This will ensure data is reprocessed sooner after a machine termination.

https://github.com/klahnakoski/ActiveData-ETL/commit/09e3dc63df99ec163457ecc1b7e51ee8e82a2f3a

I have not figured out why the block was not reprocessed

[2019-12-11 18:44] klahnakoski commented on #64
data is now arriving:  https://activedata.allizom.org/tools/query.html#query_id=GkWDaWtn

[2019-12-11 18:44] #64 closed, assigned to nobody

[2019-12-11 18:51] marco-c commented on #66
Related discussion about Marionette: https://bugzilla.mozilla.org/show_bug.cgi?id=1480103.

[2020-02-07 13:32] marco-c opened #67 "result.group for reftest and marionette contains absolute paths"
Since the absolute path contains a task identifier, this means each group is different than the other.
E.g. `file:///Users/cltbld/tasks/task_1580424612/build/tests/reftest/tests/layout/reftests/forms/textarea/reftest.list` or `file:///Z:/task_1580437763/build/tests/reftest/tests/layout/reftests/w3c-css/submitted/transforms/reftest.list` or `Z:\\task_1580434589\\build\\tests\\marionette\\tests\\tes

[2020-02-07 13:32] marco-c opened #68 "Always use forward slashes in result.group"
We have results such as `dom/base/test/chrome.ini` and others such as `devtools\\client\\shared\\components\\test\\browser\\browser.ini`.
We should use forward slashes for all, so we don't consider two groups to be different just because the slashes are different.

[2020-02-07 14:42] marco-c commented on #67
Opened https://bugzilla.mozilla.org/show_bug.cgi?id=1613929 and https://bugzilla.mozilla.org/show_bug.cgi?id=1613937 to tackle this in the test harnesses.

[2020-02-07 14:42] #67 closed, assigned to nobody

[2020-02-07 14:44] marco-c commented on #68
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1613939.

[2020-02-07 14:44] #68 closed, assigned to nobody

[2020-02-14 14:09] klahnakoski opened #69 "perf not ingested"
good morning! Yesterday I was trying to find some perfherder data on application.name and application.version in activedata but I wasn't able to and I noticed that it's might not be ingested. If I add application and version to this list will it start ingesting it?

And here's the schema which includes these new fields, note that version is an optional field: https://searchfox.org/mozilla-central/

[2020-02-14 14:12] klahnakoski commented on #69
There is a deliberate copy of specific properties to the perf document; which is preventing automatic pickup of new properties.

https://github.com/klahnakoski/ActiveData-ETL/blob/83f3b141b2acdc7ab8650b8a3e9abb595d81acb4/activedata_etl/transforms/perfherder_logs_to_perf_logs.py#L218

[2020-02-14 14:13] klahnakoski commented on #69
...something more dynamic should be possible

[2020-02-14 14:24] gmierz commented on #69
Here's a sample artifact that has application.name and application.version: https://firefoxci.taskcluster-artifacts.net/Pb5uFzfCQyuJnJ_5C7sKww/0/public/test_info/perfherder-data.json

And here's one with only application.name: https://firefoxci.taskcluster-artifacts.net/HmM9vYmvSLW52Na6NS2zfg/0/public/test_info/perfherder-data.json

[2020-02-19 01:36] klahnakoski commented on #69
@gmierz   Tell me more!  The schema you pointed to is much better formed than what I remember: Maybe there are multiple versions floating around now?

[2020-02-19 12:46] klahnakoski commented on #61
@marco-c I will assume this is done

[2020-02-19 12:46] #61 closed, assigned to nobody

[2020-02-19 12:48] klahnakoski commented on #61
This is a side effect of ES and ActiveData not making a distinction between a primitive `42` and an array of one primitive `[42]`

[2020-02-19 18:08] klahnakoski commented on #69
@gmierz NM, I have long forgotten the code and the dataformat.   Almost ready:

[code]

[2020-02-19 18:11] klahnakoski opened #71 "Better SQS queue usage"
If we allow a local machine to push work on top of the queue, then it will be the first work item to be popped off.  If the queue has a local cache, then this push/pop combination allows the same machine to perform the next step in the ETL pipeline; leaving no delay; and taking advantage of the cache from the previous-step processing.

Of course, if you push work on the queue, you can not really c

[2020-02-20 16:31] klahnakoski opened #72 "Better support for backfill"
It would be nice to clean the data to better feed the ML.

* Fix it upstream - this is generally cleaner, but history can not be changed.  There is no "backfilling"
* Make it part of the Transform - we can leave the source data dirty and clean it in the Transform step.  This will allow up to run a backfill; effectively re-process the data to a new clean form.

Even with the latter, reprocessing is

[2020-02-20 16:34] klahnakoski commented on #72
If ES can alter documents directly, it may be the fastest

https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html

[2020-02-20 17:55] klahnakoski opened #73 "Ingest test-info"
https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&searchStr=test-info

[2020-02-20 17:55] klahnakoski commented on #73
have it pushed to BigQuery, despite using the ActiveData-ETL pipeline

[2020-02-20 18:01] jmaher commented on #73
can we ingest this "manually" and play with the data?

[2020-02-20 18:43] marco-c commented on #66
This is still happening.

[2020-02-21 20:37] klahnakoski commented on #66
@marco-c

Are you suggesting this is a problem with ActiveData? or the ETL pipeline?

Yes, there are still plenty of tests with missing group:

[code]

As far as I can tell, the harnesses must change to emit the group information:

[code]

[2020-02-21 20:58] klahnakoski commented on #66
Here is code that will list specific artifacts that are "not ingested properly":

[code]

Here is an example URL:

https://firefoxci.taskcluster-artifacts.net/MmP2kbyfT8yZhxo8DMs5QA/0/public/test_info//reftest_raw.log

Here is the specific problem substring:

    "tests": {"layout/reftests/list-item/reftest.list": ["[u'layout/reftests/list-item/numbering-1.html', u'==', u'layout/reftests/list-item

[2020-02-24 11:22] marco-c commented on #66
That's https://bugzilla.mozilla.org/show_bug.cgi?id=1614642, but the problem in this issue are cases where run.suite.groups is present but result.group is missing (so, the query you shared in the last comment).

So, is it a problem in the ETL or the harness? What is the ETL expecting?

[2020-02-24 16:24] klahnakoski commented on #66
@marco-c  Specifically, for reftests, the problem is in the harness.  I have contacted gbrown with the specifics.  Generally, https://github.com/klahnakoski/ActiveData-ETL/issues/66#issuecomment-589832120  will be used to show all the remaining issues (either in harness or etl pipeline).

[2020-02-25 00:58] marco-c opened #74 "Some tasks have missing classifications"
E.g. https://activedata.allizom.org/tools/query.html#query_id=pwlYwH_A:
[code]

Returns `not classified`. Instead, the failure was actually classified as intermittent: https://treeherder.mozilla.org/#/jobs?repo=autoland&searchStr=test-linux1804-64-asan%2Fopt-web-platform-tests-e10s-15&revision=b2a188c4998cb7c005d37372a3682ce284d2f5b4.

[2020-02-25 10:09] marco-c opened #75 "Ingest classification note when the classification is `intermittent`"
[code]

Intermittent failures are classified with a bug number by sheriffs (the bug number tracking the intermittent failure). This information is missing in ActiveData.

[2020-02-25 13:29] marco-c commented on #75
https://github.com/klahnakoski/ActiveData-ETL/blob/573a982c56b334dd1345e7e199d7e8d89c6c4728/activedata_etl/transforms/treeherder_to_normalized.py#L181-L183

Perhaps the bug ID associated to the intermittent failure is stored in yet another field?

[2020-02-25 13:52] jmaher commented on #75
we have bug_job_map where you can do something like:
select bug_job_map.bug_id ... where job_note.failure_classification_id=4 and job_note.job_id = bug_job_map.job_id

[2020-02-25 14:28] klahnakoski commented on #75
There is a `bugs.bug_id` property, which can have many values:

[code]

[2020-02-25 14:41] klahnakoski commented on #74
This is probably caused by classification happening in treeherder while the job last_modified is not changed to reflect that change.

[2020-02-25 14:48] marco-c commented on #75
Oh, thanks, I'll use that!

[2020-02-25 14:48] #75 closed, assigned to nobody

[2020-02-25 14:56] klahnakoski commented on #74
... I am looking into this.  I will gather the data on the records we need to decide how to fix.

[2020-02-25 21:09] klahnakoski commented on #74
This is happening during ingestion into ES:  The version number is not set, or not set properly.

[2020-02-26 13:09] klahnakoski commented on #74
The fix has been deployed, but only affects future data.  Past data will be replaced incrementally over the next few days

[2020-02-26 13:17] marco-c commented on #74
Can you tell me when the backfill will be finished?

[2020-02-27 12:25] klahnakoski commented on #74
@marco looks like Monday: The plan is:

* The treeherder table is in 3-month indexes.  I am copying the last four, but it is taking hours: It appears the `_reindex` goes through a single node
* I assign the `treeherder`alias to the copies
* delete original indcies - at this point it looks like nothing changed
* request past 365 days to be ingested (which should use all 40 machines)
* wait
* I assi

[2020-02-28 11:46] klahnakoski opened #76 "use strings, not numbers, for coverage lines"
Both line numbers and tuids should be strings for better indexing.  The longest file is 97K lines, so 5 digit strings would be fine.  Tuids can be 5-character base64

https://discuss.elastic.co/t/matching-integers-in-an-array/96534/2

[2020-02-28 15:30] marco-c commented on #66
reftests are looking reasonable, now it's mainly Marionette.

run.suite.name | count
-- | --
marionette | 368309
mochitest-browser-chrome | 22
mochitest-plain | 21
mochitest-media | 19
reftest | 11
mochitest-devtools-chrome | 8
reftest-no-accel | 4
mochitest-chrome | 2
mochitest-webgl2-ext | 2
reftest-gpu | 2
crashtest | 1

[2020-02-28 15:34] marco-c commented on #66
@klahnakoski is Marionette a problem with ActiveData?

With the following query:
[code]

I get https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ftHnlhDPQeeurD8fOIV8KA/artifacts/public/test_info/marionette_raw.log (https://firefoxci.taskcluster-artifacts.net/ftHnlhDPQeeurD8fOIV8KA/0/public/test_info/marionette_errorsummary.log), which looks good to me.

[2020-02-29 16:35] klahnakoski commented on #74
@marco All of 2019 onward was re-ingested; 2019Q1 is finishing up now.

[2020-03-03 12:34] klahnakoski commented on #66
@marco-c  this looks like a problem with marionette: Looking at your link

 https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ftHnlhDPQeeurD8fOIV8KA/artifacts/public/test_info/marionette_raw.log

The tests dictionary has

    testing/marionette/harness/marionette_harness/tests/unit/test_marionette.py

And the "matching" test has the name:

    testing/marionette/harness/marionette_harne

[2020-03-03 12:43] klahnakoski commented on #66
https://bugzilla.mozilla.org/show_bug.cgi?id=1619575

[2020-03-10 14:22] #74 closed, assigned to nobody

[2020-03-10 14:23] klahnakoski commented on #72
If docs-update is anything like _reindex, it it will use a single node and be very slow.

[2020-04-09 14:16] klahnakoski opened #77 "Change pipeline from batch to stream"
The ETL pipeline was built to minimize queue resources and machine resources, by using a single queue for all ETL tasks, and batching work items into blocks of 100.  This strategy is a problem:  ETL delays from code coverage (or massive artifacts, or technical issues, or loss-of-spot-instance) causes ALL other artifact processing to be delayed, maybe for hours, or days.  Up-to the minute artifact

[2020-05-11 18:22] klahnakoski opened #78 "Fix single bit errors in S3 uploads"
I have had a problem for over a week now, maybe because I set the `Content-Type` to `application/gzip`

1. I compress lines of JSON using Python `gzip.GzipFile` to a local file
2. I use boto (version2) to upload the local file to S3, with Content-Type application/gzip
3. I decompress the local file to ensure it has the exact content I put into it: PASS
4. I download the S3 file, and verify its con

[2020-05-11 18:27] klahnakoski commented on #78
Two important responses from AWS:

The headers should not change the bytes delivered to S3.  But maybe this problem is with `application/zip` not `application/gzip`

Extended `Key` to report the request-ids:  https://github.com/klahnakoski/ActiveData-ETL/commit/da32d02a5db583df7c0e747c7db61ef0e3cccef6#diff-c60a73d982bc64c7bae9fe3e92d98246R564

[2020-05-23 00:23] marco-c opened #79 "Link repository to Smart Scheduling project"
https://github.com/orgs/mozilla/projects/121

So we can get issues in there.

[2020-05-23 00:35] marco-c opened #80 "`failure.notes.text` is sometimes not working"
E.g. the result for:
[code]
is:
[code]
even though if you remove the `select` statement:
[code]

The same is occurring on other tasks, e.g. TDFEix4zS96Q9QLDHVh4uw, aB9_LFOKTg2mLkuhZbxXkQ.

It doesn't apply in all cases. E.g.:
[code]
works.

[2020-05-26 02:11] klahnakoski commented on #80
I know the cause.  I have a potential solution.  still working on this.

[2020-05-26 13:07] klahnakoski commented on #80
Gist of the "missing" pushes

https://gist.github.com/klahnakoski/f3e9353d1068a2485a47a24e084643e5

[2020-05-27 12:03] klahnakoski opened #81 "Missing latest state of treeherder job"
This task is marked intermittent, but not in ActiveData:

https://firefox-ci-tc.services.mozilla.com/tasks/UAkCFPWKQECNYDCGocpBKQ

[2020-05-27 12:04] klahnakoski commented on #79
YaS-vqpPSYCOsJUxUTl4eg and dST2VvJASmS2c4VVCsJB2A too

[2020-05-27 12:27] klahnakoski commented on #79
done

[2020-05-27 12:27] #79 closed, assigned to nobody

[2020-05-27 12:42] marco-c commented on #79
I imagine this comment was meant for #81 :P

[2020-05-27 12:42] marco-c commented on #81
YaS-vqpPSYCOsJUxUTl4eg, dST2VvJASmS2c4VVCsJB2A and NLbO9LNwSWeTYUmv6UoZxg too.

[2020-05-28 00:17] klahnakoski commented on #80
@marco  I am reverting this fix.  The fix has produced a number of other problems, and this one is the smallest.

[2020-05-28 01:01] klahnakoski commented on #81
This is caused by holes in the ingestion:

[code]

[2020-05-28 01:23] klahnakoski commented on #81
the task was modified Wed, May 20, 18:29:45 (EDT) = Wed, May 20, 22:29:45 GMT

as per

I can not find the task in the range

[code]

I would expect the task to be found on 1966.263.  I checked 263 and 264, but the `UAkCFPWKQECNYDCGocpBKQ` is not there.

https://active-data-treeherder-jobs.s3-us-west-2.amazonaws.com/1966.263.json.gz
https://active-data-treeherder-jobs.s3-us-west-2.amazonaws.com/196

[2020-05-28 13:06] klahnakoski commented on #81
https://treeherder.mozilla.org/#/jobs?repo=autoland&revision=862f6454d127fa4d10c6e96995470de0e1e20512&selectedTaskRun=UAkCFPWKQECNYDCGocpBKQ-0

shows `Wed, May 20, 18:29:45` which is the GMT date and I found `UAkCFPWKQECNYDCGocpBKQ` in `1966.208` which was loaded.

Also, I re-ingested the whole day 1966, and there are still holes.

[2020-05-28 13:28] klahnakoski commented on #81
`action.start_time==0` which is year 1970, which is too old to index.

[2020-05-28 13:34] klahnakoski commented on #81
oh!  the task never ran!  Doh!

[2020-05-28 17:10] klahnakoski commented on #78
This was solved by identifying the bad bit, flipping it, and reprocessing.

[2020-05-28 17:10] #78 closed, assigned to nobody

[2020-05-28 17:11] klahnakoski commented on #78
...also `application/octet-stream` was used to avoid the problem

[2020-05-28 17:15] klahnakoski commented on #81
push-to-es updated with fixes
https://github.com/mozilla/ActiveData-ETL/commit/443a5bac9144417356e2fe11f4f76df0dffd818

SQS filled with requests to reindex treeherder
https://github.com/mozilla/ActiveData-ETL/commit/a77297525372ff3374b30978ec72a68458b9dc4c

[2020-05-28 17:19] klahnakoski commented on #81
specific tasks already repaired:
https://activedata.allizom.org/tools/query.html#query_id=7VqR+K9i

waiting for reindex to finish

[2020-05-28 17:38] klahnakoski commented on #81
Confirmed all blocks are loaded

[code]

[2020-05-28 18:10] klahnakoski commented on #79
@marco-c yes, I keep mixing these two bug up.

[2020-05-28 18:16] #81 closed, assigned to nobody

[2020-06-02 08:20] #80 closed, assigned to nobody

[2020-06-02 10:29] klahnakoski opened #82 "Alert when schema changes"
[The Treeherder schema had a `failure.notes` be both an inner property and a nested property](https://github.com/mozilla/ActiveData-ETL/issues/81) depending on the document. Nested should always take precedence, but given the large volume of the inner instances that does not appear to be the case.  Did an ingestion routine never get notified the nested be used?  Is there a logic bug that is preven

[2020-06-02 11:59] marco-c opened #83 "Ingest errors from errorsummary.log"
Could be useful for https://github.com/mozilla/mozci/issues/204.

[2020-06-18 19:47] marco-c opened #84 "Take into account `known_intermittent` when generating result.ok in the unittest table"
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1646796.

E.g. if a group has status=FAIL, expected=PASS, and known_intermittent=["FAIL"], result.ok should be True.

[2020-06-26 15:05] klahnakoski commented on #84
[code]

from https://firefoxci.taskcluster-artifacts.net/OkVeANnWSf2bQeDwFmQgIA/0/public/test_info//wpt_raw.log

[2020-06-26 16:38] klahnakoski commented on #84
OkVeANnWSf2bQeDwFmQgIA

[2020-06-26 16:41] klahnakoski commented on #84
https://active-data-task-cluster-logger.s3-us-west-2.amazonaws.com/tc.3059271%3A305926263.json.gz
[code]

[2020-06-29 12:42] klahnakoski commented on #84
These are now arriving as `result.ok_intermittent`

https://activedata.allizom.org/tools/query.html#query_id=ClNxky_Y

[2020-06-29 14:32] klahnakoski commented on #84
https://github.com/mozilla/ActiveData-ETL/commit/0211d17f20280a62f9a950eab8d4f3c9dd3530fd

[2020-06-29 14:32] #84 closed, assigned to nobody

[2020-06-29 19:10] klahnakoski opened #85 "vismet does not have repo attached"
The visual metrics tasks do not have the `repo` data attached.

https://activedata.allizom.org/tools/query.html#query_id=ylIlJI9c

[2020-06-29 19:12] klahnakoski commented on #85
example: https://firefox-ci-tc.services.mozilla.com/tasks/abkm-f6nStKyND5zS9DO5A

[2020-08-17 12:17] klahnakoski opened #88 "Change ETL configuration to send alerts to another email"
The `ETL` branch is responsible for the ETL pipeline, and the config file is [etl.json](https://github.com/mozilla/ActiveData-ETL/blob/etl/resources/settings/staging/etl.json).  One of the logging modules sends emails on warnings and errors that are encountered.  Please update the email to the person/system that will monitor them. The config file includes the subject; you probably want to add a fi

[2020-10-12 15:47] marco-c commented on #83
Needed for https://github.com/mozilla/mozci/issues/311.